@charset "UTF-8";
/* Scaffolding */
body {
	background-color:#f0f0f0;
	font-family:'돋움', dotum, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:1.5;
}

/* Text Size */
h1,
.h1 {
  font-size: 20px;
}
h2,
.h2 {
  font-size: 18px;
}
h3,
.h3 {
  font-size: 16px;
}
h4,
.h4 {
  font-size: 14px;
}
h5,
.h5 {
  font-size: 12px;
}
h6,
.h6 {
  font-size: 11px;
}

/* Text Color */
.text-primary {
  color: #f6594a;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ea5547;
}

/* Non-responsive */
.container {
	width:auto;
}

/* Tables */
.wrap-table {
	border-width:1px 0;
	border-style:solid;
	border-color:#ddd;
}
.wrap-table.scroll{
    overflow-x:auto;
    white-space: nowrap;
}
.table {
	margin-bottom:0;
}
.table > tbody > .empty > td {
	padding:20px;
}
.table > thead > tr > td,
.table > thead > tr > th,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th {
	padding:14px 8px;
	border-width:1px 1px 0;
	border-style:solid;
	border-color:#eee;
	color:#666;
	text-align:center;
	vertical-align:middle;
}
.table > thead > tr > td:first-child,
.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > tfoot > tr > td:first-child,
.table > tfoot > tr > th:first-child {
	border-left:0;
}
.table > thead > tr > td:last-child,
.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child,
.table > tbody > tr > th:last-child,
.table > tfoot > tr > td:last-child,
.table > tfoot > tr > th:last-child {
	border-right:0;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  background-color:#f9f9f9;
}
.table-horizon > tbody > tr > td,
.table-horizon > tbody > tr > th,
.table-horizon > tfoot > tr > td,
.table-horizon > tfoot > tr > th {
	padding-right:20px;
	padding-left:20px;
	border-right:0;
	border-left:0;
	text-align:left;
}
.table > tbody > tr.normal > td,
.table > tbody > tr.normal > th,
.table > tbody > tr > td.normal,
.table > tbody > tr > th.normal,
.table > tfoot > tr.normal > td,
.table > tfoot > tr.normal> th,
.table > tfoot > tr > td.normal,
.table > tfoot > tr > th.normal,
.table > thead > tr.normal > td,
.table > thead > tr.normal > th,
.table > thead > tr > td.normal,
.table > thead > tr > th.normal {
	background-color:#fff !important;
}
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info> th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > thead > tr.info > th,
.table > thead > tr > td.info,
.table > thead > tr > th.info {
	background-color:#f2f6fb !important;
}
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning> th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > thead > tr.warning > th,
.table > thead > tr > td.warning,
.table > thead > tr > th.warning {
	background-color:#fffae5 !important;
}

/* Forms */
input[type=checkbox],
input[type=radio] {
	margin-top:2px;
}
.checkbox-inline,
.radio-inline {
	padding-left:18px;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
	margin-left:-18px;
}
.input-calendar {
	position:relative;
	z-index:1;
	border-radius:3px;
	background-color:#fff;
}
.input-calendar:after {
	position:absolute;
	top:7px;
	right:6px;
	z-index:-1;
	font:normal normal normal 15px/1 FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	content:'\f073';
}
.input-calendar .form-control {
	padding-right:30px;
	background-color:transparent;
}

/* Buttons */
.btn-primary {
	border-color:#ea0a00 #c30801 #c30801 #ea0a00;
	background-color:#fe140b;
	color:#fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
	border-color:#dc0900 #b60700 #b60700 #dc0900;
	background-color:#ef140b;
	color:#fff;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-image:none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	border-color:#ea0a00 #c30801 #c30801 #ea0a00;
	background-color:#fe140b;
}
.btn-primary .badge {
	color:#fe140b;
}
.btn-default {
	border-color:#ccc #aaa #aaa #ccc;
	background-color:#fff;
	color:#333;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	border-color:#bbb #999 #999 #bbb;
	background-color:#fcfcfc;
	color:#222;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	background-image:none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	border-color:#ccc #aaa #aaa #ccc;
	background-color:#fff;
}
.btn-default .badge {
	color:#fff;
}
.btn-gray {
	border-color:#5e5e5e #444 #444 #5e5e5e;
	background-color:#666;
	color:#fff;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
	border-color:#505050 #333 #333 #505050;
	background-color:#555;
	color:#fff;
}
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
	background-image:none;
}
.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
	border-color:#5e5e5e #444 #444 #5e5e5e;
	background-color:#666;
}
.btn-gray .badge {
	color:#666;
}
.btn-group-lg>.btn, 
.btn-lg
{
	font-weight:bold;
}

/* Breadcrumbs */
.breadcrumb {
	padding-top:9px;
	padding-bottom:7px;
}
.breadcrumb > li+li:before {
	font-family:FontAwesome;
	content:'\f105';
}